In [1]:
import pandas as pd

In [6]:
d_parser = lambda x : pd.datetime.strptime (x, '%Y-%m-%d')
df = pd.read_csv ("../../../../DATA/IPL Matches 2008-2020.csv", date_parser=d_parser, parse_dates=['date'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               816 non-null    int64
 1   city             803 non-null    object
 2   date             816 non-null    datetime64[ns]
 3   player_of_match  812 non-null    object
 4   venue            816 non-null    object
 5   neutral_venue    816 non-null    int64
 6   team1            816 non-null    object
 7   team2            816 non-null    object
 8   toss_winner      816 non-null    object
 9   toss_decision    816 non-null    object
 10  winner           812 non-null    object
 11  result           812 non-null    object
 12  result_margin    799 non-null    float64
 13  eliminator       812 non-null    object
 14  method           19 non-null     object
 15  umpire1          816 non-null    object
 16  umpire2          816 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(13)
memory usage: 108.5+ KB

In [12]:
df = df.loc[df.date.dt.year > 2012]

In [15]:
df.reset_index (drop=True, inplace=True)

In [17]:
df.city.value_counts()

Mumbai           54
Kolkata          49
Hyderabad        46
Delhi            46
Bangalore        37
Chandigarh       34
Abu Dhabi        29
Pune             29
Dubai            26
Chennai          24
Jaipur           22
Bengaluru        15
Sharjah          12
Visakhapatnam    11
Rajkot           10
Ahmedabad         8
Ranchi            7
Indore            7
Raipur            6
Kanpur            4
Cuttack           3
Dharamsala        2
Name: city, dtype: int64